html, body{
  position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard{
  width:100%;
  height: inherit;
  background-color: rgb(210, 208, 208);
  padding-bottom: 5px;
}

.dashboard .topbar {
  z-index: 999;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color:  rgb(42, 42, 165);
  width: 100%;
  padding: 7px;
  height: 70px;
}

.dashboard .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* overflow: wrap; */
  }
.dashboard .content img{
  width: auto; 
  height: 70px; 
  display: block; 
  border-radius: 10px;
}
.dashboard .content .name {
  color: white;
  padding-left: 30px;
  font-size: 45px;
  white-space: wrap;
  overflow: hidden;
  transition: font-size 0.5s ease; 
}
@media(max-width: 700px)
{
  .dashboard .content{
    width:500px;
  }
  .dashboard .content .name {
    font-size: 35px; 
    margin-right: 40px;
    text-align: center;
  }
}
@media(max-width: 590px)
{
  .dashboard .content{
    width:400px;
  }
  .dashboard .content .name {
    padding-top: 20px;
  }
}

.dashboard .topbar .profile{
  position: fixed;
  top:5px;
  right:0px;
  margin-right: 1%;
  display: inline-block;
}
.dashboard .profile img{
  height: 35px;
  width: auto;
  border-radius: 50%;
  align-self: center;
}
.dashboard .profile button {
  background-color: rgb(157, 222, 248);
  text-align: center;
  padding: 4px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.dashboard .profile button:hover{
  background-color:  #ddd;
}
.dashboard .dropdown-content{
  display: none; /* Initially hide the dropdown content */
  position: absolute;
  right: 0%;
  top: 100%;
  background-color: white;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  z-index: 2;
}
.dashboard .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dashboard .dropdown-content a:hover {
  background-color: #ddd;
}
.dashboard .show {
  display: block; /* Display the dropdown content when the "show" class is added */
}
.dashboard .sidebar .locationSettings .dropdown-contentB.flex {
  display: flex; /* Display the dropdown content when the "show" class is added */
}

.dashboard .sidebar .locationSettings .dropdown-contentB.hidden {
  display: none; /* Display the dropdown content when the "show" class is added */
}

/* going into dangerous territory */
.dashboard .lower-content{
  flex-direction: row;
  /* height: calc(100vh - 90px);
  padding-top: 90px;padding-top: 103px; */
  height: inherit;
  min-height: 600px;
  padding-top: 90px;
  display: flex;
  width: 100%;
  gap: 5px;
}
.dashboard .lower-content .saved .sidebar-container{
  position: sticky;
  max-width: 30vw;
  min-width: 450px;
  height: 100%;
  display: block;
  border-radius: 10px;
  flex: 1;
  margin-right: 5px;
}
.dashboard .lower-content .saved .sidebar{
  position: absolute;
  max-width: 30vw;
  min-width: 450px;
  height: inherit;
  background-color: #f2f2f2; 
  display: block;
  border-radius: 10px;
  flex: 1;
  margin-left: 5px;
  overflow-y: auto;
}
.dashboard .sidebar .name{
  color: white;
  width: auto;
  font-size: 30px;
  text-align:left;
  background-color: rgb(40, 40, 135);
  border-top-left-radius: 10px; /* Adjust this value */
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row; /* Change to row */
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center;
}
.dashboard .sidebar .name button{
  background-color:  rgb(72, 72, 185);
  padding: 10px;
}
.dashboard .sidebar .name button:hover{
  background-color:  rgb(26, 26, 197);
}

.dashboard .sidebar .locationSettings{
    background-color: rgb(237, 237, 236);
    padding: 10px;
    position: relative;
}
.dashboard .sidebar .locationSettings .setDistance {
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  height: auto;
  background-color: whitesmoke;
}
.dashboard .sidebar .locationSettings .setDistance img{
  height: 10px;
}
.dashboard .sidebar .locationSettings .setDistance:hover{
  background-color: rgb(199, 198, 198);
  cursor: pointer;
}
 /* .dashboard .sidebar .locationSettings .dropdown-contentB{
  display: none;
  left: 10%;
  top: 80%;
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
}  */
.dashboard .sidebar .locationSettings .dropdown-contentB{
  display: none; /* Initially hide the dropdown content */
  background-color: white;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  left: 10%;
  top: 80%;
  position: absolute;
  flex-direction: column;
} 
.dashboard .sidebar .locationSettings .dropdown-contentB span{
  padding: 10px;
}
.dashboard .sidebar .locationSettings .dropdown-contentB span:hover{
  cursor: pointer;
  background-color: #ddd;
}
.dashboard .sidebar-container .sidebar li{
  display: flex;
  padding: 2px 15px 2px 15px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(225, 225, 245);
  box-shadow: 1px 1px 1px 1px rgba(54, 20, 179, 0.316);
}

.dashboard .sidebar-container .sidebar .location-text {
  flex: 1; /* Take up remaining space */
  font-weight:300;
}
.dashboard .sidebar-container .sidebar .routeDistance {
  flex: 1; /* Take up remaining space */
  font-weight:300;
  font-size: 17px;
}
.dashboard .sidebar-container .sidebar .name-text {
  flex: 1; /* Take up remaining space */
  font-size: 23px;
  font-weight: 540;
}

.dashboard .sidebar-container .sidebar li:hover{
  background-color: rgb(184, 184, 220);
  cursor:pointer;
}
.dashboard .lower-content .search-map{
  position: relative;
  flex-direction: column;
  width: 100%;
  height: inherit;
  min-height: 600px;
  padding-right: 5px;
}
.dashboard .lower-content .search-map .input-container{
  padding-left: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  min-width: 80%; /*when window maximized, take entire top bar*/
  min-height: 10px;
  margin-bottom: 10px;
}
.dashboard .input-container input{
  font-size: 20px;
  padding-left: 10px;
  min-width: 300px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  width: 500px;
  border-radius: 10px;
  border: none;
  flex: 1;
}
.dashboard .input-container .searchButton{
  padding: 6px;
  margin-top: 9px;
  margin-right: 16px;
  margin-left: 0px;
  height: 38px;
  background: rgb(157, 222, 248);
  font-size: 17px;
  border: black;
  cursor: pointer;
  border-radius: 10%;
}
.dashboard .input-container .currentLocationButton{
  padding-top: 10px;
  width: 150px; 
  height: auto; 
  display: block; 
  border-radius: 10px;
  cursor: pointer;
}
.dashboard .lower-content img:hover{
  filter: brightness(85%);
}

.dashboard .lower-content .searchButton:hover{
  background-color:  rgb(104, 183, 214);
}

.dashboard .lower-content .search-map .map{
  height: calc(100vh - 148px);
  min-height: 638px;
  position: relative;
  width:100%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
}

@media(max-width: 1220px)
{
  .dashboard .lower-content .search-map .map{
    height: calc(100vh - 166px);
  }
}

ul {
  padding: 7px;
  list-style-type: none;
}

.result-sales-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 0px 16px;
  border-radius: 5px;
  margin: 9px -10px 9px 5px;
  cursor: pointer;
  border-radius: 50%;
}
.result-sales-button img{
  height:20px;
  width: auto;
  border-radius: 50%;
}
.add-button {
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.locationInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.result-sales-button:hover {
  background-color: rgb(104, 183, 214);
}

.routeDistance {
  margin-right: 10px; /* Adjust spacing between distance and review button */
}
