html, body{
  position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.dashboard{
  width:100%;
  height:100%;
  background-color: rgb(210, 208, 208);
}

.dashboard .topbar {
  z-index: 999;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color:  rgb(42, 42, 165);
  width: 100%;
  padding: 7px;
  height: 70px;
  /* box-sizing: border-box;
  border-bottom: 8px solid rgb(157, 222, 248); */
}

.dashboard .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* overflow: wrap; */
  }
.dashboard .content img{
  width: auto; 
  height: 70px; 
  display: block; 
  border-radius: 10px;
}
.dashboard .content .name {
  color: white;
  padding-left: 30px;
  font-size: 45px;
  white-space: wrap;
  overflow: hidden;
  transition: font-size 0.5s ease; 
}
@media(max-width: 700px)
{
  .dashboard .content{
    width:500px;
  }
  .dashboard .content .name {
    font-size: 35px; 
    margin-right: 40px;
    text-align: center;
  }
}
@media(max-width: 590px)
{
  .dashboard .content{
    width:400px;
  }
  .dashboard .content .name {
    padding-top: 20px;
  }
}

.dashboard .topbar .profile{
  position: fixed;
  top:5px;
  right:0px;
  margin-right: 1%;
  display: inline-block;
}
.dashboard .profile img{
  height: 35px;
  width: auto;
  border-radius: 50%;
  align-self: center;
}
.dashboard .profile button {
  background-color: rgb(157, 222, 248);
  text-align: center;
  padding: 4px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.dashboard .profile button:hover{
  background-color:  #ddd;
}

.dashboard .dropdown-content{
  display: none; /* Initially hide the dropdown content */
  position: absolute;
  right: 0%;
  top: 100%;
  background-color: white;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  z-index: 1;
}
.dashboard .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dashboard .dropdown-content a:hover {
  background-color: #ddd;
}
.dashboard .show {
  display: block; /* Display the dropdown content when the "show" class is added */
}

/* going into dangerous territory */
.dashboard .lower-content{
  flex-direction: row;
  /* height: calc(100% - 70px); */
  padding-top: 90px;/* padding-top: 103px; */
  display: flex;
  width: 100%;
  gap: 5px;
}
.dashboard .lower-content .saved .sidebar-container{
  position: sticky;
  max-width: 30vw;
  min-width: 450px;
  height: 100vh;
  min-height: 600px;
  display: block;
  border-radius: 10px;
  flex: 1;
  margin-right: 5px;
}
.dashboard .lower-content .saved .sidebar{
  max-width: 30vw;
  min-width: 450px;
  height: calc(100% - 95px);
  background-color: #f2f2f2; 
  display: block;
  border-radius: 10px;
  flex: 1;
  margin-left: 5px;
}
/* .dashboard .lower-content .result .sidebar {
  max-width: 30vw;
  min-width: 300px;
  height: 85vh;
  background-color: #f2f2f2; 
  display: block;
 
  border-radius: 10px;
  flex: 1;
  margin-right: 5px;
} */
.dashboard .sidebar .name{
  color: white;
  width: auto;
  font-size: 30px;
  text-align:left;
  /* text-shadow: 0 0 2px whitesmoke; */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  background-color: rgb(40, 40, 135);
  border-top-left-radius: 10px; /* Adjust this value */
  border-top-right-radius: 10px;
  padding: 10px;
}
.dashboard .sidebar-container .sidebar li{
  padding-left: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  border-radius: 5px;
  background-color: rgb(208, 208, 244);
}
.dashboard .sidebar-container .sidebar li:hover{
  background-color: rgb(184, 184, 220);
  cursor:pointer;
}

.dashboard .lower-content .search-map{
  margin-top: -95px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-right: 5px;
  width: 100%;
  flex-grow: 1;
  min-height: 500px;
}
.dashboard .search-map .input-container{
  position: sticky;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  min-width: 80%; /*when window maximized, take entire top bar*/
  max-width: 600px; /*hides the body bkgrnd???*/
  min-height: 10px;
  margin-bottom: 10px;
}
.dashboard .input-container input{
  font-size: 20px;
  padding-left: 10px;
  min-width: 300px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  width: 500px;
  border-radius: 10px;
  border: none;
  flex: 1;
}
.dashboard .input-container .searchButton{
  padding: 6px;
  margin-top: 9px;
  margin-right: 16px;
  margin-left: 0px;
  height: 38px;
  background: rgb(157, 222, 248);
  font-size: 17px;
  border: black;
  cursor: pointer;
  border-radius: 10%;
}
.dashboard .input-container .currentLocationButton{
  padding-top: 10px;
  width: 150px; 
  height: auto; 
  display: block; 
  border-radius: 10px;
  cursor: pointer;
}
.dashboard .lower-content img:hover{
  filter: brightness(85%);
}

.dashboard .lower-content .searchButton:hover{
  background-color:  rgb(104, 183, 214);
}

.dashboard .lower-content .search-map .map{
  height: calc(100%);
  position: relative;
  width:100%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
}
.dashboard .lower-content .search-map{
  position: relative;
  flex-direction: column;
  /* background-color: orange; */
  /* display: flex; */
  width: 100%;
  height: 100%;
}

ul {
  padding: 7px;
  list-style-type: none;
}

.result-sales-button {
  background-color: rgb(157, 222, 248);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
Link{
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

.result-sales-button:hover {
  background-color: rgb(104, 183, 214);
}