/* General page here */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0, #ffffff, #91c8e2, #417fd1);
}

/* Style the page container */
.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the page height to the viewport height */
}

/* Style the title name */
.homepage-name {
  text-align: center;
  width: 80%;
  font-size: 60px;
  color: blue;
}

/* Style the footer with a blue background */
.footer {
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: auto;
  background-color: rgb(157, 222, 248);
  color: black;
  text-align: center;
  padding: 20px;
}

.button {
  background-color: #0a1681;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}
/* Add a black background color to the top navigation */
.topnav {
  background: linear-gradient(0, #ffffff, #91c8e2, #417fd1);
  overflow: hidden;
  border-radius: 20px; /* Rounded corners */
  margin: auto; /* Center horizontally */
  width: 80%; /* Width of the navigation bar */
  position: relative; /* Position relative for placing it lower */
  top: 20px; /* Move it lower */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Style the content container */
.content-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 50px; /* Adjust the distance from the topnav */
}

/* Style the welcome box */
.welcome-box {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  width: 80%; /* Width of the box */
  max-width: 600px; /* Maximum width of the box */
}

/* Style the text inside the welcome box */
.welcome-box p {
  text-align: center; /* Center the text horizontally */
  font-size: 18px; /* Adjust font size as needed */
  color: #333; /* Text color */
}